.imageHero {
   animation: imageAnimateBubble 1s ease-in-out infinite alternate;
}

@keyframes imageAnimateBubble {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(15px);
   }
}
